
<div id="landing" >
  <div class="row ">
    <div class="col-md-offset-4 col-md-4">
        <br />
        <br />
        <br />
        <div class= "panel panel-default panel-transparent">
          <div class="panel-body text-center">
            <button type="button" class="btn btn-default btn-lg outline"><%= link_to 'Log in', user_session_path, class: "text-white" %></button>

            <button type="button" class="btn btn-default btn-lg outline"><%= link_to 'Sign Up', new_user_registration_path, class: "text-white" %></button>
          </div>
        </div>
    </div>
  </div>
</div>
