

<div class="landing">
  <div class="hero">
    <div class="hero-overlay">
      <div class="logo">
        <!-- <h2>THERE WILL BE A LOGO<h2> -->
      </div>

      <div class="hero-content">
        <h1>ChoreStore</h1>
        <p>The app that makes it easy to schedule and assign chores </p>
        <%= link_to "Login", new_user_session_path, class: "login-link" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "signup-link primary" %>
      </div>
    </div>
  </div>
</div>
