<% if user_signed_in? %>
<%= link_to 'View Chore List', chores_path %>
<%= link_to 'User Profile', profile_path(current_user), method: :get %>
<% else %>
<div id="landing" >
  <div class="row">
    <div class= " large-12 large-centered columns">
      <p class="text-center"><%= link_to 'Log in', user_session_path, class: "hollow button"%>
      <%= link_to 'Sign Up', new_user_registration_path, class: "hollow button" %></p>
    </div>
  </div>
</div>
<% end %>
