<% if user_signed_in? %>
<h1> Home page be like whattttt</h1>
<%= link_to 'View Chore List', chores_path %>
<%= link_to 'User Profile', profile_path, method: :get %>
<% else %>
<%= link_to 'Log in', user_session_path %>

<% end %>
