<div class="footer">
     <div class="container">
       <a href='https://github.com/amrisha-vaidya' target="_blank"><i class="fa fa-github-alt fa-2x fa-fw"></i></a>
       <a href='https://www.linkedin.com/in/amrishavaidya/' target="_blank"><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a>
       <p class="small-text"> <i class="fa fa-copyright" ></i>Amrisha Vaidya</p>
       </span>
     </div>
   </div>
