
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle> </button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-left-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <strong><%= link_to 'ChoreStore', root_path %></strong>
    </ul>
  </div>
  <div class="top-bar align">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li><% if user_signed_in? %>
        Logged in as <strong><%= link_to current_user.first_name, profile_path(current_user) %></strong>
      <% end %>
      </li>
      <li> Sign Out</li>
    </ul>
  </div>
</div>
