
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle> </button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-left-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Chore Store</li>
    </ul>
  </div>
  <div class="top-bar align">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        <li> Profile</li>
        <li> Sign Out</li>
    </ul>
  </div>
</div>
