

<div class='row'>
  <div class="col-lg-12 ">
      <nav class="navbar navbar-default navbar-inverse">
      	<div class="container">
  			<div class="row">
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  					<ul class="nav navbar-nav">
              <li class="active "><%= link_to 'ChoreStore', dashboard_index_path, class: "text-white" %></li>
              <li class="text-white"><%= link_to 'View Chore List', chores_path, class: "text-white" %></li>
  						<li><a href="#">About</a></li>
  						<li><a href="#">Services</a></li>
  						<li><a href="#">Gallery</a></li>
  						<li><a href="#">Contact us</a></li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</nav>
  </div>
</div>
