// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#avatar-navbar{
  height: 2vw;
  width:2vw;
}

.text-white{
  color: white;
}

.sticky{
  width: 100%;
}

#landing {
  background: url(./landingpage.jpeg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;

}

.text-muted{
  color: #aaa
}

.text-muted :hover{
  color: #00a7e1;
  cursor: pointer;
}


.muted-check :hover{
  color: #21E08A;
} 

.scroll-div{
  height: 400px;
  overflow: scroll;
}

.btn-huge{
  padding-top: 20px;
  padding-bottom: 20px;
}

.bot-buffer{
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  opacity: 5;
}

.container{
  width: 100%;
}

.small-text{
  font-size: 10px;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline-transparent {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-default.outline {
  border: 2px solid white;
  color: white;
}

.btn-primary.outline:hover, .btn-primary.outline:focus,
.btn-primary.outline:active, .btn-primary.outline.active, .open >
.dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

.cutsom-panel-opacity{
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.panel-transparent {
    background: none;
    border: none;
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

.hero {
  background: url("landingpage.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.logo {
  text-align: center;
}

.hero-content h1 {
  color: white;
  margin: 0
}

.hero-content p {
  color: white;
  margin: 0;
}

.login-link, .signup-link {
  display: inline-block;
  padding: 10px;
  color: white;
  width: 200px;
  border: 0;
  border-radius: 3px;
}

.login-link {
  background-color: #428bca;
  margin: 10px 0;
  font-weight: bold;
}

.signup-link {
  background-color: #428bca;
  font-weight: bold;
}

.login-link:hover {
  background-color: #5496cf;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.signup-link:hover {
  background-color: #5496cf;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hero-content-white {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  margin: 0 auto;
}

.panel-transparent {
  background: none;
}

.panel-transparent .panel-heading{
  background: rgba(122, 130, 136, 0.2) !important;
}

.panel-transparent .panel-body{
  background: rgba(46, 51, 56, 0.2) !important;
}

.transparent-input{
  background-color: rgba(0,0,0,0) !important;
}
